//BOX

@use "./../utils/_variables.scss" as variable;
@use "./../utils/_mixins.scss" as mixin;

.box {
	margin:variable.$margin__box;
	padding:variable.$padding__box;
	@include mixin.borders(variable.$color3);

	@include mixin.desktop-small {
		margin:variable.$margin__box--desktopS;
	}

	@include mixin.mobile {
		border:0;
	}

	&--quote {
		@include mixin.borders(variable.$color2);
		padding-top:0;
		padding-bottom:0;
	}

	&--projet-grid {
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:250px 250px;
		gap:0.5rem;
		// Nécessaire pour l'animation zoom au hover
		position:relative;

		@include mixin.desktop-small {
			grid-template-columns:1fr 1fr;
			grid-template-rows :320px 320px 320px;
		}

		@include mixin.tablet {
			grid-template-columns:1fr;
			grid-template-rows : repeat(320px,6);
		}
	}

	&--formulaire {
	}
}
