
// FORMULAIRE

@use "./../utils/_variables.scss" as variable;
@use "./../utils/_mixins.scss" as mixin;

.form {
	display:flex;
	flex-direction:column;

	&__titre {
		padding:0.5rem 1rem 0.5rem 1rem;
		background-color:variable.$color1;
	}

	.form__nom, .form__mail, .form__textarea  {
		display:flex;
		flex-direction:column;
		margin-top:1.5rem;
	}

	&__label {
		padding-bottom:0.5rem;
	}

	&__input {
		background-color:variable.$color2;
		padding:0.5rem;
		@include mixin.borders(variable.$color1);
	}

	&__cta {
	display:flex;
	justify-content:center;
	margin-top:2rem;
	}
}

.form__nom > .form__input, .form__mail > .form__input {
	height:2rem;

	@include mixin.tablet {
		height:1rem;
	}
}

