
// HEADER

.header {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	padding:$padding__page;
	background-color:$color1;

	@include tablet {
		padding:$padding__page--tablet;
	}

	@include mobile {
		flex-direction:column;
		justify-content:center;
		padding:1rem 0 1rem 0;
		align-items:center;
	}

	&__titre {

		@include mobile {
			padding:0 0 1rem 0;
		}
		//voir _typo h1
	}
}

.nav {
	display:flex;
	flex-direction:row;
	border-left:2px solid $color2;

	@include mobile {
		flex-direction:column;
		justify-content:center;
		align-items:center;
		border:0;
	}

	&__lien {
		padding:0 2rem 0 2rem;
		border-left:2px solid $white;

		@include tablet {
			padding:0 1rem 0 1rem;
		}

		@include mobile {
			width:130%;
			text-align:center;
			border:0;
			padding:0.5rem 0 0.5rem 0;
			border-top:1px solid $color2;
		}

	//voir _typo nav
		
		&--last {
			padding-left:2rem;

			@include tablet {
				padding-left:1rem;
			}

			@include mobile {
				padding-left:0;
				border-bottom:1px solid $color2;
			}
		}
	}

}

