// PROJETS GRILLE

.projet-grid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:250px 250px;
	gap:0.5rem;
	padding:0.5rem;

	@include borders;

	// Nécessaire pour l'animation zoom au hover
	position:relative;
}
