//ANIMATIONS

@use "./../utils/_variables.scss" as variable;
@use "./../utils/_mixins.scss" as mixin;

.nav__lien:hover {
	color:variable.$color2;
}

.projet {
	transition:.2s ease-in;

	&:hover {
		opacity:1;
		transition:0.5s ease-in;
		z-index:2;
	}

	&__titre {
		transition:color 0.5s;	/* permet d'adoucir la transition de la police */

		&:before {
			z-index:-1;
			transform:scaleX(0);
			transform-origin:0 100%;	/* Sens de remplissage sweep */
			transition:transform 0.5s ease-out;
		}
	}

}


.projet:hover {

	> .projet__titre:before { /* !! applique les règles a l'élément child quand hover parent */
		transform:scaleX(1);
	}

	> .projet-zoom {
		visibility:visible; /* Transition-delay ne fonctionne qu'avec visibility, pas display */
		transition-delay:0.5s;	/* retarde l'animation (delayed)*/
		animation : createZoom 2s;	/* Appel l'animation de zoom Keyframes */

		&--1 {
			transform-origin:0 0;
		}

		&--2 {
			transform-origin:50% 0;
		}

		&--3 {
			transform-origin:100% 0;
		}

		&--4 {
			transform-origin:0 100%;
		}

		&--5 {
			transform-origin:50% 100%;
		}

		&--6 {
			transform-origin:100% 100%;
		}
	}
}



//KEYFRAMES
@keyframes createZoom {
		from {
			transform:scale(0);
		}
		to {
			transform:scale(1);
		}
}

.cta {

	&:hover {
		background-color:variable.$color3;
		color:variable.$color2;
	}
}

.footer .titre:hover {
	color:variable.$white;
	@include mixin.shadow(variable.$color2);
}

