
// CTA CALL TO ACTION

@use "./../utils/_variables.scss" as variable;
@use "./../utils/_mixins.scss" as mixin;

.cta {
	cursor:pointer;
	background-color:variable.$color1;
	padding:1rem 1.5rem 1rem 1.5rem;

	@include mixin.tablet{
		padding:0.4rem 0.8rem 0.4rem 0.8rem;
	}
}
