//PROJETS

.projet {
	display:grid;
	grid-template-rows:160px 60px 30px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.8);
	border-bottom:2px solid $color3;
	opacity:40%;

	@include desktop-small {
		grid-template-rows:230px 60px 30px;
	}


	&__titre {
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:1rem;
	border-left:6px solid $color1;
	position:relative;

		&:before {
		content:"";	/* propriété obligatoire, "" permet de ne rien afficher */
		background-color:$color1;
		@include pos-absolute-0;
		}
	}

	&__sousTitre {
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:1rem;
	}

	&__image {

		@include image($image-num);
		
		
		//&--1 {
		//@include image ("1", 50%, 55%);
		//}

		//&--2 {
		//@include image ("2", 50%, 50%);
		//}

		//&--3 {
		//@include image ("3", 50%, 50%);
		//}

		//&--4 {
		//@include image ("4", 50%, 20%);
		//}

		//&--5 {
		//@include image ("5", 50%, 30%);
		//}

		//&--6 {
		//@include image ("6", 50%, 50%);
		//}
	}
}
