//PROJETS

.projet {
	display:grid;
	grid-template-rows:160px 60px 30px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.8);
	border-bottom:2px solid $color3;
	opacity:40%;

	&__titre {
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:1rem;
	border-left:6px solid $color1;
	position:relative;

		&:before {
		content:"";	/* propriété obligatoire, "" permet de ne rien afficher */
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index:-1;
		background-color:$color1;
		}
	}

	&__sousTitre {
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:1rem;

	color:#FFFFFF;
	font-size:0.8rem;
	font-weight:300;
	}
}
