html {
	font-size:100%;
	/* Permet d'utiliser l'unité rem */
	/* % : permet de scaler la police par rapport à celle de la taille du navigateur de l'user */
}

* {
	margin:0;
	padding:0;
}

.mainPage {
	width:90%;
	margin:auto;


	font-family:Roboto,sans-serif;
}

/* ----------- HEADER VERT -------------- */
/* -------------------------------------- */

.header {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;

	padding:0.5rem 2.5rem 0.5rem 2.5rem;

	background-color:#2CDDA6;
}

.header__titre {
	
	font-size:2.5rem;
	font-style:italic;
	font-weight:700;
	color:#001534;

	text-shadow:0.2rem 0.05em #FFFFFF;
}

.nav {
	display:flex;
	flex-direction:row;

	border-left:2px solid #001534;
}


.nav__lien {

	padding:0 2rem 0 2rem;
	border-left:2px solid #FFFFFF;


	font-size:1.2rem;
	font-weight:300;
	color:#FFFFFF;
	text-decoration:none;
}

.nav__lien--last {
	padding:0 0 0 2rem;
}

.nav__lien:hover{
	color:#001534;
}

/* ---------------  CITATION HAUTE ----------------- */
/* ------------------------------------------------- */

main {
	padding:0.5rem 2.5rem 0.5rem 2.5rem;
	background-color:#001534;
}

.quote {
	padding:2rem 0 2rem 0;
}

.quote__ligne {

	text-align:right;
	font-style:italic;
	font-weight:700;
	font-size:1.8rem;
	color:#D6FFF5;
}

.quote__ligne--vert {
	color:#2CDDA6;
}

/* ------------------- PORTFOLIO ------------------- */
/* ------------------------------------------------- */

.portfolio {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:250px 250px;
	gap:0.5rem;

	padding:0.5rem;

	border:1px solid #D6FFF5;
}


.projet {
	display:grid;
	grid-template-rows:160px 60px 30px;

	box-shadow:5px 5px 5px rgba(0,0,0,0.8);
	border-bottom:1px solid #D6FFF5;
	
	opacity:40%;
	transition:0.2s ease-in;
}

.projet__titre {
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:1rem;

	/*background-color:#2CDDA6;*/
	border-left:6px solid #2CDDA6;

	color:#FFFFFF;
	font-size:2rem;
	font-style:italic;
	font-weight:900;

	position:relative;
	transition:color 0.5s;	/* permet d'adoucir la transition de la police */
}

.projet__titre:before {
	content:"";	/* propriété obligatoire, "" permet de ne rien afficher */
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-1;
	background-color:#2CDDA6;
	transform:scaleX(0);
	transform-origin:0 100%;	/* Sens de remplissage sweep */
	transition:transform 0.5s ease-out;
}

	/* Animation opacité et remplissage du titre */
	/* ----------------------------------------- */
		.projet:hover {
			opacity:1;
			transition:0.5s ease-in;
			z-index:2;
		}

		.projet:hover > .projet__titre:before { /* !! applique les règles a l'élément child quand hover parent */
			transform:scaleX(1);
		}

	/* -------------------------------------- */


.projet__sousTitre {
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:1rem;

	padding-left:1rem;

	color:#FFFFFF;
	font-size:0.8rem;
	font-weight:300;

}

.projet__image--1 {
	background:url("images/image1.jpg");
	background-position:50% 55%;
	background-size:cover;
}

.projet__image--2 {
	background:url("images/image2.jpg");
	background-position:center;
	background-size:cover;
}

.projet__image--3 {
	background:url("images/image3.jpg");
	background-position:center;
	background-size:cover;
}

.projet__image--4 {
	background:url("images/image4.jpg");
	background-position:50% 20%;
	background-size:cover;
}
.projet__image--5 {
	background:url("images/image5.jpg");
	background-position:50% 30%;
	background-size:cover;
}
.projet__image--6 {
	background:url("images/image6.jpg");
	background-position:center;
	background-size:cover;
}


