@charset "UTF-8";
/* UTILS */
/* BASE */
/* -------- STRUCTURE */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  width: 90%;
  margin: auto;
  background-color: #001534;
}

main {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

/* ---------- TYPOGRAPHY */
body {
  font-family: Roboto, sans-serif;
}

.titre {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 700;
  color: #001534;
  text-decoration: none;
  text-shadow: 0.2rem 0.05em #FFFFFF;
}
.titre--projet-zoom {
  color: #FFFFFF;
  text-shadow: 0.2rem 0.05em #2CDDA6;
}
.titre--formulaire {
  color: #FFFFFF;
  text-shadow: 0.2rem 0.05em #11AF82;
}

.nav__lien {
  font-size: 1.2rem;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
}

.quote__ligne {
  text-align: right;
  font-style: italic;
  font-weight: 700;
  font-size: 1.8rem;
  color: #D6FFF5;
}
.quote__ligne--vert {
  color: #2CDDA6;
}

.projet__titre {
  color: #FFFFFF;
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  text-shadow: 0.2rem 0.05em #2CDDA6;
}
.projet__sousTitre {
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 300;
}

.projet-zoom__sousTitre {
  font-size: 1.2rem;
  color: #2CDDA6;
}

.form__label {
  color: #D6FFF5;
  font-size: 1rem;
  font-weight: 200;
}
.form__input {
  font-size: 1rem;
  color: #FFFFFF;
}
.form__input:focus {
  background-color: #FFFFFF;
  color: #001534;
}

.cta {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0.2rem 0.05em #11AF82;
}

/* LAYOUT */
/* ------------ HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  background-color: #2CDDA6;
}
.nav {
  display: flex;
  flex-direction: row;
  border-left: 2px solid #001534;
}
.nav__lien {
  padding: 0 2rem 0 2rem;
  border-left: 2px solid #FFFFFF;
}
.nav__lien--last {
  padding: 0 0 0 2rem;
}

/* ------------ BOX */
.box {
  margin: 2rem 0 2rem 0;
  border: 1px solid #D6FFF5;
  padding: 1rem;
}
.box--quote {
  border: 1px solid #001534;
}
.box--projet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 0.5rem;
  position: relative;
} /* ----------- PROJET-GRID */
/*@import "./layout/_projet-grid.scss";*/
/* ----------- PROJET-ZOOM */
.projet-zoom {
  visibility: hidden; /* masque l'élément jusqu'au hover */
  position: absolute;
  padding: 1rem;
  background-color: #001534;
  display: grid;
  grid-template-columns: 60% 1fr;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projet-zoom__image {
  margin: 1rem;
  border-top: 1px solid #D6FFF5;
}
.projet-zoom__texte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}
.projet-zoom__titre {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #D6FFF5;
  border-bottom: 1px solid #D6FFF5;
}
.projet-zoom__sousTitre {
  display: flex;
  padding: 1rem 0 1rem 0;
}

/* ------------ FORMULAIRE */
.form {
  display: flex;
  flex-direction: column;
}
.form__titre {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #2CDDA6;
}
.form .form__nom, .form .form__mail, .form .form__textarea {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.form__label {
  padding-bottom: 0.5rem;
}
.form__input {
  background-color: #001534;
  padding: 0.5rem;
  border: 1px solid #2CDDA6;
}
.form__cta {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form__nom > .form__input, .form__mail > .form__input {
  height: 2rem;
}

/* ------------ FOOTER */
.footer {
  display: flex;
  justify-content: center;
  background: #2CDDA6;
  padding: 1rem;
}

/* COMPOSANTS */
/* ------------ PROJETS */
.projet {
  display: grid;
  grid-template-rows: 160px 60px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #D6FFF5;
  opacity: 40%;
}
.projet__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  border-left: 6px solid #2CDDA6;
  position: relative;
}
.projet__titre:before {
  content: ""; /* propriété obligatoire, "" permet de ne rien afficher */
  background-color: #2CDDA6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projet__sousTitre {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}
.projet__image--1 {
  background: url("public/images/image1.jpg");
  background-position: 50% 55%;
  background-size: cover;
}
.projet__image--2 {
  background: url("public/images/image2.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.projet__image--3 {
  background: url("public/images/image3.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.projet__image--4 {
  background: url("public/images/image4.jpg");
  background-position: 50% 20%;
  background-size: cover;
}
.projet__image--5 {
  background: url("public/images/image5.jpg");
  background-position: 50% 30%;
  background-size: cover;
}
.projet__image--6 {
  background: url("public/images/image6.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

/* ------------ ANIMATIONS */
.nav__lien:hover {
  color: #001534;
}

.projet {
  transition: 0.2s ease-in;
}
.projet:hover {
  opacity: 1;
  transition: 0.5s ease-in;
  z-index: 2;
}
.projet__titre {
  transition: color 0.5s; /* permet d'adoucir la transition de la police */
}
.projet__titre:before {
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0 100%; /* Sens de remplissage sweep */
  transition: transform 0.5s ease-out;
}

.projet:hover > .projet__titre:before { /* !! applique les règles a l'élément child quand hover parent */
  transform: scaleX(1);
}
.projet:hover > .projet-zoom {
  visibility: visible; /* Transition-delay ne fonctionne qu'avec visibility, pas display */
  transition-delay: 0.5s; /* retarde l'animation (delayed)*/
  animation: createZoom 2s; /* Appel l'animation de zoom Keyframes */
}
.projet:hover > .projet-zoom--1 {
  transform-origin: 0 0;
}
.projet:hover > .projet-zoom--2 {
  transform-origin: 50% 0;
}
.projet:hover > .projet-zoom--3 {
  transform-origin: 100% 0;
}
.projet:hover > .projet-zoom--4 {
  transform-origin: 0 100%;
}
.projet:hover > .projet-zoom--5 {
  transform-origin: 50% 100%;
}
.projet:hover > .projet-zoom--6 {
  transform-origin: 100% 100%;
}

@keyframes createZoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.cta:hover {
  background-color: #D6FFF5;
  color: #001534;
}

.footer .titre:hover {
  color: #FFFFFF;
  text-shadow: 0.2rem 0.05em #001534;
}

/* ------------ CTA */
.cta {
  background-color: #2CDDA6;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

/* PAGES */

/*# sourceMappingURL=styleJoeblow.css.map */
