
// BASE

@use "./../utils/_variables.scss" as variable;
@use "./../utils/_mixins.scss" as mixin;


* {
	margin:0;
	padding:0;
}

html {
	font-size:100%;
	// Permet d'utiliser l'unité rem
	// % : permet de scaler la police par rapport à celle de la taille du navigateur de l'user
}


body {
	width:90%;
	margin:auto;
	background-color:variable.$color2;

	@include mixin.desktop-medium {
		width:100%;
	}

}

main {
	padding:variable.$padding__page;

	@include mixin.tablet {
		padding:variable.$padding__page--tablet;
	}

	@include mixin.mobile {
		padding:variable.$padding__page--mobile;
	}
}
