
// TYPOGRAPHY

@use "./../utils/_variables.scss" as variable;
@use "./../utils/_mixins.scss" as mixin;


body {
	font-family:Roboto,sans-serif;
}

.titre {
	font-size:2.5rem;
	font-style:italic;
	font-weight:700;
	color:variable.$color2;
	text-decoration:none;
	@include mixin.shadow(variable.$white);

	@include mixin.tablet {
		font-size:1.8rem;
	}

	&--projet-zoom {
		color:variable.$white;
		@include mixin.shadow(variable.$color1);
	}

	&--formulaire {
	color:variable.$white;
	@include mixin.shadow(variable.$color4);
	}

	@include mixin.mobile {
		text-align:center;
	}
	
	
}

.nav__lien {
	font-size:1.2rem;
	font-weight:300;
	color:variable.$white;
	text-decoration:none;
}

.quote__ligne {
	text-align:right;
	font-style:italic;
	font-weight:700;
	font-size:1.8rem;
	color:variable.$color3;

	@include mixin.tablet {
		font-size:1.3rem;
		text-align:center;
	}

	&--vert {
		color:variable.$color1;
	}		
}

.projet {

	&__titre {
		color:variable.$white;
		font-size:2rem;
		font-style:italic;
		font-weight:900;
		@include mixin.shadow(variable.$color1);
	}

	&__sousTitre {
		color:variable.$white;
		font-size:0.8rem;
		font-weight:300;
	}

}

.projet-zoom {

	&__sousTitre {
		font-size:1.2rem;
		color:variable.$color1;
	}
}
		
.form {

	&__label {
		color:variable.$color3;
		font-size:1rem;
		font-weight:200;
	}

	&__input {
		font-size:1rem;
		color:variable.$white;

		&:focus {
			background-color:variable.$white;
			color:variable.$color2;
		}
	}
		
}

.cta {
	font-size:1.5rem;
	font-style:italic;
	font-weight:500;
	color:variable.$white;
	@include mixin.shadow(variable.$color4);

	@include mixin.tablet {
		font-size:1.1rem;
	}
}


