
// TYPOGRAPHY

body {
	font-family:Roboto,sans-serif;
}

.titre {
	font-size:2.5rem;
	font-style:italic;
	font-weight:700;
	color:$color2;
	text-decoration:none;
	@include shadow($white);

	@include tablet {
		font-size:1.8rem;
	}

	&--projet-zoom {
		color:$white;
		@include shadow($color1);
	}

	&--formulaire {
	color:$white;
	@include shadow($color4);
	}

	@include mobile {
		text-align:center;
	}
	
	
}

.nav__lien {
	font-size:1.2rem;
	font-weight:300;
	color:$white;
	text-decoration:none;
}

.quote__ligne {
	text-align:right;
	font-style:italic;
	font-weight:700;
	font-size:1.8rem;
	color:$color3;

	@include tablet {
		font-size:1.3rem;
		text-align:center;
	}

	&--vert {
		color:$color1;
	}		
}

.projet {

	&__titre {
		color:$white;
		font-size:2rem;
		font-style:italic;
		font-weight:900;
		@include shadow($color1);
	}

	&__sousTitre {
		color:$white;
		font-size:0.8rem;
		font-weight:300;
	}

}

.projet-zoom {

	&__sousTitre {
		font-size:1.2rem;
		color:$color1;
	}
}
		
.form {

	&__label {
		color:$color3;
		font-size:1rem;
		font-weight:200;
	}

	&__input {
		font-size:1rem;
		color:$white;

		&:focus {
			background-color:$white;
			color:$color2;
		}
	}
		
}

.cta {
	font-size:1.5rem;
	font-style:italic;
	font-weight:500;
	color:$white;
	@include shadow($color4);

	@include tablet {
		font-size:1.1rem;
	}
}


