
//MIXINS

@use "./../utils/_variables.scss" as variable;

@mixin padding__box {
	padding:variable.$pad-box;
}

//OMBRES
@mixin shadow($color:variable.$color2) {
	text-shadow:0.2rem 0.05em $color;
}

//BORDERS
@mixin borders ($color:variable.$color3) {
	border:1px solid $color;
}

//ABSOLUTE 0
@mixin pos-absolute-0 {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

// IMAGE BACKGROUND - BOUCLE DE CREATION
@mixin image ($image-num) {
	@each $nom, $valeurs in variable.$image-num {
		&--#{$nom} {
			background:url("#{variable.$image-path}#{$nom}.jpg");
			background-position:map-get($valeurs,x-image) map-get($valeurs, y-image);
			background-size:cover;
		}
	}
}

@mixin projet-zoom--mobile ($image-num) {
	@each $nom, $valeurs in variable.$image-num {
		&--#{$nom} {
			@include mobile {
				grid-template-rows:1fr 1fr;
				position:absolute;
				top:map-get($valeurs,top);
				bottom:map-get($valeurs,bottom);
			}
		}
	}
}



// MIXIN @MEDIA BREAKPOINT
@mixin mobile {
	@media (max-width:map-get(variable.$breakpoints, mobile)) {
		@content
	}
}

@mixin tablet {
	@media (max-width:map-get(variable.$breakpoints, tablet)) {
		@content
	}
}
@mixin desktop-small {
	@media (max-width:map-get(variable.$breakpoints, desktop-small)) {
		@content
	}
}
@mixin desktop-medium {
	@media (max-width:map-get(variable.$breakpoints, desktop-medium)) {
		@content
	}
}
