
//MIXINS

@mixin padding__box {
	padding:$pad-box;
}

//OMBRES
@mixin shadow($color) {
	text-shadow:0.2rem 0.05em $color;
}

//BORDERS
@mixin borders ($color:$color3) {
	border:1px solid $color;
}

//ABSOLUTE 0
@mixin pos-absolute-0 {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

//@mixin image ($num, $x-image, $y-image) {
//	background:url("public/images/image#{$num}.jpg");
//	background-position:$x-image $y-image;
//	background-size:cover;
//}


@mixin image ($image-num) {
	@each $nom, $valeurs in $image-num {
		&--#{$nom} {
			background:url("#{$image-path}#{$nom}.jpg");
			background-position:map-get($valeurs,x-image) map-get($valeurs, y-image);
			background-size:cover;
		}
	}
}
