
//MIXINS

//PADDING
@mixin padding {
	padding:$pad-top $pad-right $pad-bot $pad-left;
}

//MARGIN
@mixin margin {
	margin:$margin-top $margin-right $margin-bot $margin-left;
}

//OMBRES
@mixin shadow($color) {
	text-shadow:0.2rem 0.05em $color;
}

//BORDERS
@mixin borders {
	border:1px solid $color3;
}

//ABSOLUTE 0
@mixin pos-absolute-0 {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

@mixin image ($num, $x-image, $y-image) {
	background:url("public/images/image#{$num}.jpg");
	background-position:$x-image $y-image;
	background-size:cover;
}


