// Variables ------------------

// Couleurs

$color1:#2CDDA6;
$color2:#001534;
$color3:#D6FFF5;
$color4:#11AF82;
$black:#000000;
$white:#FFFFFF;

// Taille Size
// ------------- padding

$pad-top:0.5rem;
$pad-bot:0.5rem;
$pad-left:2.5rem;
$pad-right:2.5rem;
$padding__page:$pad-top $pad-right $pad-bot $pad-left;

$padding__page--tablet:0.5rem 1rem 0.5rem 1rem;
$padding__page--mobile:0.5rem 0 0.5rem 0;

$padding__box:1rem;


// ------------ margin
$margin-top:3rem;
$margin-bot:3rem;
$margin-right:0;
$margin-left:0;
$margin__box:$margin-top $margin-right $margin-bot $margin-left;

$margin__box--desktopS:1.5rem 0 1.5rem 0;


// IMAGES

$image-path:public/images/image;
$image-num:(
	1:(
		x-image:50%,
		y-image:55%,
		top:0,
		bottom:65%,
		),
	2:(
		x-image:50%,
		y-image:50%,
		top:10%,
		bottom:55%,
		),
	3:(
		x-image:50%,
		y-image:50%,
		top:30%,
		bottom:35%,
		),
	4:(
		x-image:50%,
		y-image:20%,
		top:45%,
		bottom:20%,
		),
	5:(
		x-image:50%,
		y-image:30%,
		top:65%,
		bottom:0,
		),
	6:(
		x-image:50%,
		y-image:510%,
		top:65%,
		bottom:0
		)
);


// BREAKPOINTS
$breakpoints :(
	mobile:480px,
	tablet:768px,
	desktop-small:1024px,
	desktop-medium:1200px,
);
