// Variables ------------------

// Couleurs

$color1:#2CDDA6;
$color2:#001534;
$color3:#D6FFF5;
$color4:#11AF82;
$black:#000000;
$white:#FFFFFF;

// Taille Size
// ------------- padding

$pad-top:0.5rem;
$pad-bot:0.5rem;
$pad-left:2.5rem;
$pad-right:2.5rem;
$padding__page:$pad-top $pad-right $pad-bot $pad-left;

$padding__box:1rem;

// ------------ margin
$margin-top:2rem;
$margin-bot:2rem;
$margin-right:0;
$margin-left:0;
$margin__box:$margin-top $margin-right $margin-bot $margin-left;

